/*
.root
{
    --darkest: #221E22;
    --darker: #808080;
    --light: #b9c2b;
    --lighter: #D9E4E8;
    --lightest: #FFFFFF;
    --turquoise: #72E1D1;
    --lightblue: #06abc5;
    --red: #E4112A;
}
*/

*
{
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Calendar */
button
{
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #D9E4E8;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #E4112A;
}

#header
{
    padding: 10px;
    color: #E4112A;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

#cont
{
    width: 770px;
}

#backButton, #nextButton
{
    position: relative;
    left: 295px;
}

#weekdays
{
    width: 100%;
    display: flex;
    color: #06abc5;
}

#weekdays div
{
    width: 100px;
    padding: 10px;
}

#calendar
{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.day
{
    width: 193.5px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin: 5px;
    box-shadow: 0px 0px 3px #221E22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover
{
    background-color: #b9c2bb;
}

.day + #currentDay
{
    background-color: #D9E4E8;
}

.event
{
    font-size: 10px;
    padding: 3px;
    background-color: #06abc5;
    color: #FFFFFF;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}
.padding
{
    /* Override */
    cursor: default !important; 
    background-color: #FFFFFF !important;
    box-shadow: none !important;
}

#newEventModal, #deleteEventModal
{
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #D9E4E8;
    box-shadow: 0px 0px 3px #221E22;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
}

#eventTitleInput
{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px #808080;
}

#eventTitleInput.error
{
    border: 2px solid #E4112A;
}

#eventText
{
    font-size: 14px;
}

#modalBackDrop
{
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

/* Agenda */
body
{
    font: 'Karma';
    background-color: #FFFFFF;
    color: #221E22;
    text-align: center;
    justify-content: center;
}

.container
{
    width: 95%;
    margin: auto;
}

.head
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}

.head h2
{
    font-size: 2rem;
    text-align: center;
}

.user-input
{
    border: 1px solid #221E22;
    width: 720px;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.user-input input
{
    width: 80%;
    outline: none;
    padding: 8px;
    border: 1px solid #221E22;
    display: center;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.user-input input:focus
{
    box-shadow: 0 0 5px #E4112A;
    border: 1px solid #E4112A;
}

.user-input button
{
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    transition: 1s;
    outline: none;
    font-weight: 700;
    border: 1px solid #221E22;
    transition: 0.4s;
}

.user-input button:hover
{
    opacity: 0.8;
}

.user-input button:active
{
    opacity: 0.6;
}

.tasks
{
    width: 500px;
    margin: auto;
}

.task
{
    display: flex;
    justify-content: space-between;
    border: 1px solid #221E22;
    width: 100%;
    border-radius: 2px;
    padding: 5px;
    color: #221E22;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.task:hover
{
    opacity: 0.8;
}

.task:active
{
    opacity: 0.6;
}
/*
.task button
{
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #D9E4E8;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: #E4112A;
}
*/
@media(max-width: 768px)
{
    .head
    {
        align-items: center;
        flex-direction: column;
    }
    .head h2
    {
        margin: 10px 0;
    }
    .user-input
    {
        width: 100%;
    }

    .tasks
    {
        width: 100%;
    }
}

@media(max-width: 480px)
{
    .user-input input
    {
        width: 74%;
    }
}

@media(max-width: 320px)
{
    .user-input input
    {
        width: 60%;
    }
}


